.env
*.key
api_key.txt
api.txt
**/api_key.txt

log.jsonl
memories.jsonl
history.json

*.wav
*.mp3
photo.jpg
yes.mp3
input.wav
temp_44k.wav
speech.mp3

__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

*.onnx

.DS_Store
Thumbs.db
